header {
    margin-bottom: 50px;
    height: 25px;
    width: 100%;
    background-color: blueviolet;
}

body {
    background-color: darkblue;
}

.container {
    margin: 20px, 20px, 20px, 20px;
    background-color: white;
    height: 300px;
    width: 300px;
}
/* tried heaps of positioning options to try to centre this justify-conent/positioning/mrgins and padding - was weirdly non-responsive to padding and margin changes */
#QuestionBox {
    height: 150px;
    width: 300px;
}
#AnswerButtons {
    width: 290px;
}
#HScores {
    font-size: 20px;
    float: left;
}
#Timer {
    font-size: 20px;
    float: right;
}
.bttnGrd {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px, 0;
}